# Auto detect text files and perform LF normalization
* text=auto
*.created filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
/.next/trace filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/autoprefixer filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/baseline-browser-mapping filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/browserslist filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/nanoid filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/next filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/semver filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/tsc filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/tsserver filter=lfs diff=lfs merge=lfs -text
/node_modules/.bin/update-browserslist-db filter=lfs diff=lfs merge=lfs -text
/node_modules/@floating-ui/core/LICENSE filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
/node_modules/@floating-ui/dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@floating-ui/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@floating-ui/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@floating-ui/utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@headlessui/react/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cjs filter=lfs diff=lfs merge=lfs -text
*.cts filter=lfs diff=lfs merge=lfs -text
/node_modules/@heroicons/react/LICENSE filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/node_modules/@img/sharp-linux-x64/LICENSE filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-aria/focus/LICENSE filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-aria/interactions/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-aria/ssr/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-aria/utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-stately/flags/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-stately/utils/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@react-types/shared/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@swc/helpers/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@tanstack/react-virtual/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@tanstack/virtual-core/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/autoprefixer/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/autoprefixer/bin/autoprefixer filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/node_modules/browserslist/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/caniuse-lite/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/clsx/license filter=lfs diff=lfs merge=lfs -text
/node_modules/color-convert/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/color-name/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/color-string/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/color/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/csstype/LICENSE filter=lfs diff=lfs merge=lfs -text
*.flow filter=lfs diff=lfs merge=lfs -text
/node_modules/detect-libc/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/electron-to-chromium/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/escalade/license filter=lfs diff=lfs merge=lfs -text
/node_modules/fraction.js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/is-arrayish/LICENSE filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/node_modules/nanoid/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/bin/next filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@ampproject/toolbox-optimizer/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@babel/runtime/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@napi-rs/triples/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@opentelemetry/api/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@vercel/nft/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@vercel/og/LICENSE filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/@vercel/og/satori/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/acorn/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/anser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/assert/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/babel/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/browserify-zlib/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/browserslist/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/buffer/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/busboy/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/bytes/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/ci-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/cli-select/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/commander/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/comment-json/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/compression/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/conf/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/content-disposition/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/content-type/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/cookie/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/cross-spawn/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/crypto-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/debug/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/devalue/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/events/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/find-up/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/fresh/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/glob/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/gzip-size/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/http-proxy/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/https-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/ignore-loader/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/image-size/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/is-docker/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/is-wsl/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/jest-worker/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/jsonwebtoken/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/loader-runner/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/loader-utils2/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/loader-utils3/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/lodash.curry/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/lru-cache/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/mini-css-extract-plugin/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/nanoid/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/native-url/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/neo-async/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/node-html-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/ora/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/os-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/p-limit/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/p-queue/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/path-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/path-to-regexp/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/picomatch/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-flexbugs-fixes/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-modules-extract-imports/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-modules-local-by-default/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-modules-scope/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-modules-values/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-safe-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-scss/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/postcss-value-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/process/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/raw-body/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-dom-experimental/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-experimental/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-is/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-refresh/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-server-dom-turbopack-experimental/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-server-dom-turbopack/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-server-dom-webpack-experimental/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react-server-dom-webpack/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/regenerator-runtime/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/safe-stable-stringify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/sass-loader/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/scheduler-experimental/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/scheduler/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/schema-utils2/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/schema-utils3/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/send/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/shell-quote/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/source-map/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/source-map08/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/stacktrace-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/stream-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/stream-http/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/string_decoder/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/strip-ansi/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/tar/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/terser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/text-table/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/tty-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/util/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/vm-browserify/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/watchpack/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/web-vitals-attribution/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/web-vitals/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/webpack-sources1/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/webpack-sources3/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/webpack/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/ws/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/zod-validation-error/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/next/dist/compiled/zod/LICENSE filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
/node_modules/next/node_modules/postcss/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/node-releases/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/normalize-range/license filter=lfs diff=lfs merge=lfs -text
/node_modules/picocolors/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/postcss-value-parser/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/postcss/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react-dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/react/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/scheduler/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/semver/LICENSE filter=lfs diff=lfs merge=lfs -text
*.bnf filter=lfs diff=lfs merge=lfs -text
/node_modules/sharp/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gyp filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
/node_modules/simple-swizzle/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/source-map-js/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/tabbable/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/tailwindcss/LICENSE filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/bin/tsc filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/bin/tsserver filter=lfs diff=lfs merge=lfs -text
/node_modules/undici-types/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/update-browserslist-db/LICENSE filter=lfs diff=lfs merge=lfs -text
/node_modules/use-sync-external-store/LICENSE filter=lfs diff=lfs merge=lfs -text
